
<!-- Item as a Button -->
<ion-item lines="full" button (click)="buttonClick()">
  <ion-label>
    By Streak
  </ion-label>
</ion-item>
<!-- Item as a Button -->
<ion-item lines="full" button (click)="buttonClick()">
  <ion-label>
    By Translations
  </ion-label>
</ion-item>
<!-- Item as a Button -->
<ion-item lines="full" button (click)="buttonClick()">
  <ion-label>
    By Discussions
  </ion-label>
</ion-item>
<!-- Item as a Button -->
<ion-item lines="full" button (click)="buttonClick()">
  <ion-label>
    By Badges
  </ion-label>
</ion-item>
<!-- Item as a Button -->
<ion-item lines="full" button (click)="buttonClick()">
  <ion-label>
    By Category
  </ion-label>
</ion-item>
<!-- Item as a Button -->
<ion-item lines="full" button (click)="buttonClick()">
  <ion-label>
    By Members
  </ion-label>
</ion-item>
<!-- Item as a Button -->
<ion-item lines="full" button (click)="buttonClick()">
  <ion-label>
    Leader Board
  </ion-label>
</ion-item>