ion-title{
  --color: #dd2a27;
}

ion-content ion-toolbar {
  --background: translucent;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.th, .td {
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {background-color: #f2f2f2;}

.thumbnail{
  --border-radius: 0;
}

.notification ion-label{
  font-size: 0.8em;
}

.follow-btn{
  --color: #dd2a27;
}
