<ion-toolbar>

<ion-grid>

	<ion-row>
		<ion-col button (click)="selectColor('cffffff')" class='tile color1'>
			<ion-icon name="ellipse"></ion-icon>
		</ion-col>

		<ion-col button (click)="selectColor('c42cac8')" class='tile color2'>
			<ion-icon name="ellipse"></ion-icon>
		</ion-col>

		<ion-col button (click)="selectColor('c53b2d4')" class='tile color3'>
			<ion-icon name="ellipse"></ion-icon>
		</ion-col>
		<ion-col button (click)="selectColor('c4773a6')" class='tile color4'>
			<ion-icon name="ellipse"></ion-icon>
		</ion-col>

		<ion-col button (click)="selectColor('c595387')" class='tile color5'>
			<ion-icon name="ellipse"></ion-icon>
		</ion-col>

		<ion-col button (click)="selectColor('cdd2a27')" class='tile color6'>
			<ion-icon name="ellipse"></ion-icon>
		</ion-col>

		<ion-col button (click)="selectColor('c1587c6')" class='tile color7'>
			<ion-icon name="ellipse"></ion-icon>
		</ion-col>

		<ion-col button (click)="selectColor('c000000')" class='tile color8'>
			<ion-icon name="ellipse"></ion-icon>
		</ion-col>
	</ion-row>

</ion-grid>

</ion-toolbar>
