ion-row{
	padding: 0;
	margin: 0;
}

.tile{
	text-align: center;
	vertical-align: middle;
	background-color: #f2f2f2;
}

.tile ion-icon {
	font-size: 2em;
}

.color1{
	color: #ffffff;
}

.color2{
	color: #42cac8;
}

.color3{
	color: #53b2d4;
}

.color4{
	color: #4773a6;
}

.color5{
	color: #595387;
}

.color6{
	color: #dd2a27;
}

.color7{
	color: #1587c6;
}

.color8{
	color: #000000;
}